{{>layout/header}}

<!-- project_details part start -->
<section class="project_details">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-sm-12">
				<div class="project_details_img">
					<img src="/img/single_project.png" alt="single_project">
				</div>
			</div>
			<div class="col-lg-7 col-sm-8">
				<div class="project_details_content">
					<h3>Called seed from morning abundantly she air that set life grass multiply</h3>
					<p>She'd behold for sixth that give darkness female let together give doaminion spirit let from unto their bring from itself sea deep for darkness gathered after evening i they're own winged
						beast you made male a heaven. She'd Shet behold for sixth that give darkness femal</p>
					<h4>Event Description</h4>
					<p>She'd behold for sixth that give darkness female let together give dominion spirit let from unto their bring from the itself. Sea deep for darkness gathered after evening i they're own
						winged beast you made male bring she'd shall heaven. She'd. behold for sixth that give darkness female let together give dominion spirit let from unto their bring from itself. Sea deep fdarkness
						gathered</p>
					<p class="mt-2">She'd behold for sixth that give darkness female let together give dominion spirit let from unto their bring from itself deeps for darkness gathered after evening i they're
						own winged beast you made male bring shall heaven She'd. behold sixth that give darkness female let together give</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4">
				<div class="project_details_widget">
					<div class="single_project_details_widget">
						<span class="ti-time"></span>
						<h5>Start Time</h5>
						<p>09:00 AM</p>
						<h6>Friday, Mar 10, 2019</h6>
					</div>
					<div class="single_project_details_widget">
						<span class="ti-check-box"></span>
						<h5>Start Time</h5>
						<p>09:00 AM</p>
						<h6>Wed, Feb 06, 2019</h6>
					</div>
					<div class="single_project_details_widget">
						<span class="ti-location-pin"></span>
						<h5>Start Time</h5>
						<p>09:00 AM</p>
						<p>Friday, Mar 10, 2019</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- project_details part end -->

<!-- blog_part start-->
<section class="blog_part section_padding single_padding_top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-5">
				<div class="section_tittle text-center">
					<h2>Update From Blog</h2>
					<p>Winged hath had face creepeth abundantly so shall fire apperar</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-lg-4 col-xl-4">
				<div class="single-home-blog">
					<div class="card">
						<img src="/img/blog/blog_1.png" class="card-img-top" alt="blog">
						<div class="card-body">
							<a href="blog.html">Technology</a> | <span> March 30, 2019</span> <a href="blog.html">
								<h5 class="card-title">He waters likeness their land forth set female for</h5>
							</a>
							<ul>
								<li><span class="ti-layers"></span>Sports news</li>
								<li><span class="ti-comments"></span>2 Comments</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-4">
				<div class="single-home-blog">
					<div class="card">
						<img src="/img/blog/blog_2.png" class="card-img-top" alt="blog">
						<div class="card-body">
							<a href="blog.html">Technology</a> | <span> March 30, 2019</span> <a href="blog.html">
								<h5 class="card-title">Be there bring void give good brought from stars</h5>
							</a> <a href=""></a>
							<ul>
								<li><span class="ti-layers"></span>Sports news</li>
								<li><span class="ti-comments"></span>2 Comments</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-4">
				<div class="single-home-blog">
					<div class="card">
						<img src="/img/blog/blog_3.png" class="card-img-top" alt="blog">
						<div class="card-body">
							<a href="blog.html">Technology</a> | <span> March 30, 2019</span> <a href="blog.html">
								<h5 class="card-title">Third lights they're over moved days above</h5>
							</a> <a href=""></a>
							<ul>
								<li><span class="ti-layers"></span>Sports news</li>
								<li><span class="ti-comments"></span>2 Comments</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- blog_part start-->
<{{>layout/footer}}
